    	   <div class="content page formpage">
        	   <div id="accountForm">
        	   <div class="greeting">
    	               <img class="formImg" src="{{photo}}" alt="student" width="100" height="100"/>
                      <p class="namer"><span>Your Name</span><br/>{{first}} {{last}}</p>
                      <p class="netid"><span>Your NetId</span><br/>{{netid}}</p>                 
                      <p class="skillLabel"><span>Skills:</span> press "enter" after each skill. Please choose only your best expertise.</p>
                      <input name="skills" id="skillfield" value="{{extra.skills}}" /><br/>
                </div>
                <h2 class="setStatus">Set status to update account:
                <p class="link gotoMain submitAsAvailable">available</p> or
                <p class="link getStuff submitAsUnavailable">Unavailable</p></h2>
	           </div>
    	   </div><!-- END content formpage div -->