<table id="checkins">
	<thead>
		<tr>
			<th class="netid">Netid</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Project(s)</th>
			<th>Check In Time</th>
		</tr>
	</thead>
	<tbody>
		<% @swipes.each do |swipe| %>
			<tr>
				<td class="netid"><%= swipe.user.netid %></td>
				<td class="first"><%= swipe.user.first %></td>
				<td class="last"><%= swipe.user.last %></td>
				<td class="project">-</td>
				<td class="time"><%= swipe.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>