<style type="text/css">
h1 {
	font-size: 70px;
	text-transform: uppercase;
	text-outline:#AAA;
    text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: rgba(0,0,0,.3);
	border:rgb(0,0,0);
}
h2 {
	font-size: 50px;
	text-transform: uppercase;
	text-outline:#AAA;
    text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: rgba(0,0,0,.3);
	border:rgb(0,0,0);
}

body {
	font-size: 40px;
	background: white;
    text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: #AAA;
	border:rgb(255,50,0);
	}
</style>
<body>
<img src="/floorsquare/flrsq_logo_med.png" alt="floorsquare logo" height="66" width="332" />
</br>
</br>
</br>
</br>
<h2>Please swipe your ID to start</h2>
<FORM action="/floorsquare/dashboard" method="post">
	<!-- <input name="swipe" value="SWIPE!" type="submit"> -->
	<input type="number" id="swipeinput" style="font-size: 2em">
	</form>
<!-- <p>Simulated Swipe</p>
<form method="POST" action="/swipe/new">
<input type="text" name="nnumber" />
<input type="submit" value="Go" />
</form> -->
<!--might need to be @user.id if cached locally -->

</body>

<script>


var swipeid;
// var url = "http://localhost:9292"
// var url = "http://127.0.0.1:9292"
var url = "http://www.itpirl.com/"

$(function() {

var swipe_data ={ nnumber: "123", app_id: '1', device_id: '1', extra: {checkin: true, }};

	$("p#newswipe").click(function(){ 
		$.post(url+"/swipe/new", { nnumber: "123", app_id: '1', device_id: '1', extra: {checkin: true, }},
		function(data){
			odata = jQuery.parseJSON(data);
			console.log(odata);
			swipeid= odata.swipeid;
		} );
	});




	$("p#putswipe").click(function(){ 
		$.ajax({
		  url: url+"/swipe/"+swipeid,
		  context: document.body,
		  type: 'POST',
		  crossDomain: true,

		  data: { nnumber: "123", app_id: '1', device_id: '1', extra: {available: 'true'}},
		  success: function(){
		    $(this).addClass("done");
		  }
		});
	});


	$("p#putuser").click(function(){ 
		$.ajax({
		  url: url+"/user/"+"123",
		  context: document.body,
		  type: 'POST',
  		  crossDomain: true,

		  data: { nnumber: "123", app_id: '1', device_id: '1', extra: {skills: 'icm, pizza, coolness'}},
		  success: function(){
		    $(this).addClass("done");
		  }
		});
	});

	$("p#getswipes").click(function(){ 
		console.log('gggetting json');

		$.getJSON(url+"/swipes/", { app_id: '1', device_id: '1', extra: {checkin: true, available: true}},
		function(data){
			console.log(data);

		} );
	});	






});  //end docready

</script>