<h1>Floorsquare</h1>
<br>
<br>
<br>
<!-- <p>Simulated Swipe</p>
<form method="POST" action="/swipe/new">
<input type="text" name="nnumber" />
<input type="submit" value="Go" />
</form> -->

<p id="newswipe">New Swipe</p>
<br>
<p id="putswipe">Put Swipe</p>
<br>
<p id="putuser">Put User Skills</p>
<br>
<p id="getswipes">Get Swipes that are: checkin:true;</p>
<br>

<script>


var swipeid;
// var url = "http://localhost:9292"
// var url = "http://127.0.0.1:9292"
var url = ""

$(function() {

var swipe_data ={ nnumber: "123", app_id: '1', device_id: '1', extra: {checkin: true, }};

	$("p#newswipe").click(function(){ 
		$.post(url+"/swipe/new", { nnumber: "123", app_id: '1', device_id: '1', extra: {checkin: true, }},
		function(data){
			odata = jQuery.parseJSON(data);
			console.log(odata);
			swipeid= odata.swipeid;
		} );
	});




	$("p#putswipe").click(function(){ 
		$.ajax({
		  url: url+"/swipe/"+swipeid,
		  context: document.body,
		  type: 'POST',
		  crossDomain: true,

		  data: { nnumber: "123", app_id: '1', device_id: '1', extra: {available: 'true'}},
		  success: function(){
		    $(this).addClass("done");
		  }
		});
	});


	$("p#putuser").click(function(){ 
		$.ajax({
		  url: url+"/user/"+"123",
		  context: document.body,
		  type: 'POST',
  		  crossDomain: true,

		  data: { nnumber: "123", app_id: '1', device_id: '1', extra: {skills: 'icm, pizza, coolness'}},
		  success: function(){
		    $(this).addClass("done");
		  }
		});
	});

	$("p#getswipes").click(function(){ 
		console.log('gggetting json');

		$.getJSON(url+"/swipes/", { app_id: '1', device_id: '1', extra: {checkin: true, available: true}},
		function(data){
			console.log(data);

		} );
	});	






});  //end docready

</script>