<!DOCTYPE html>
<html>
<head>
	<title>Floorsquare</title>
	<link rel="stylesheet" href="/floorsquare/stylesheets/style.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="/floorsquare/javascripts/application.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>