<li class="studentBox {{user.first}} {{user.last}} {{#user.extra.app_id_1.skills}} {{.}} {{/user.extra.app_id_1.skills}}" netid="{{user.netid}}">
  <h4 class="nameDisplay">{{user.first}} {{user.last}}</h4>
  <img src="{{user.photo}}" alt="studentpic" width="100" height="100" class="{{avail}}"/>
</li>

