<h1>Floorsquare</h1>
<br>
<br>
<br>
<!-- <p>Simulated Swipe</p>
<form method="POST" action="/swipe/new">
<input type="text" name="netid" />
<input type="submit" value="Go" />
</form> -->

<p id="newswipe">New Swipe</p>
<br>
<p id="putswipe">Put Swipe</p>
<br>
<p id="putuser">Put User Skills</p>
<br>
<p id="getswipes">Get Swipes that are: checkin:true;</p>
<br>

<script>
var swipeid;

$(function() {
	$("p#newswipe").click(function(){ 
		$.post("/swipe/new", { netid: "123", app_id: '1', device_id: '1', extra: {checkin: true, }},
		function(data){
			console.log(data);
			swipeid=data.swipeid;
		} );
	});

	$("p#putswipe").click(function(){ 
		$.ajax({
		  url: "/swipe/"+swipeid,
		  context: document.body,
		  type: 'PUT',
		  data: { netid: "123", app_id: '1', device_id: '1', extra: {available: 'true'}},
		  success: function(){
		    $(this).addClass("done");
		  }
		});
	});


	$("p#putuser").click(function(){ 
		$.ajax({
		  url: "/user/"+"123",
		  context: document.body,
		  type: 'PUT',
		  data: { netid: "123", app_id: '1', device_id: '1', extra: {skills: 'icm, pizza, coolness'}},
		  success: function(){
		    $(this).addClass("done");
		  }
		});
	});

	$("p#getswipes").click(function(){ 
		$.get("/swipes/", { app_id: '2', device_id: '1', extra: {checkin: true, available: true}},
		function(data){
			console.log(data);

		} );
	});	



});  //end docready

</script>